<div class="row">
    <aside class="col-md-4">
        <section class="user_info">
            <h1>
            <% if @user.image? %>
            <div class = "gravatar">
                <%= image_tag @user.image.thumb.url %>
            </div>
            <% else %>
                <%= gravatar_for @user %>
            <% end %>
                <%= @user.name %>
            </h1>
            <p><%= @user.area %></p>
            <span><%= link_to "view my profile", current_user %></span>
        </section>
        <p><%= @user.profile %></p>
        <% if current_user == @user %>
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            <%= link_to "タスクを更新する", edit_project_task_path() %>
            <br>
            <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
            <%= link_to "タスクを削除する", project_task_path(@task.project_id, @task.id), method: :delete, data: { confirm: "削除してもよろしいですか？" } %>
        <% end %>

    </aside>
    <div class="col-md-8">
        
        <h1><%= @task.title %></h1>
        
        <% if @task.done == true %>
            <p class="label label-primary">完了</p>
        <% else %>
            <p class="label label-danger">対応中</p>
        <% end %>
        
        <div class = "image-center">
        <% if @task.image? %>
            <%= image_tag @task.image.url %>
        <% end %>
        </div>
        
        <p>
        <% if @task.content? %>
            <%= simple_format(h(@task.content)) %>
        <% end %>
        </p>
        
    </div>
</div>