<section class="user_info">
    <%= render 'user_img' %>
    <p><%= @user.area %></p>
</section>
<p><%= @user.profile %></p>
<p><%= link_to "フォロー",  followings_user_path(@user) %> | 
<%= link_to "フォロワー",  followers_user_path(@user) %></p>